---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <p class="publications__intro">You can also find my papers on <a href="{{ site.author.googlescholar }}">Google Scholar</a>.</p>
{% endif %}

{% include base_path %}

{% assign publications_by_year = site.publications | sort: "date" | reverse | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year_group in publications_by_year %}
  <h2 class="publications__year">{{ year_group.name }}</h2>
  {% for post in year_group.items %}
    <article class="publication-entry">
      <h3 class="publication-entry__title">{{ post.title }}</h3>
      {% if post.authors %}
        <p class="publication-entry__authors">{{ post.authors | replace: "F. Di Gennaro", "<strong>F. Di Gennaro</strong>" }}</p>
      {% endif %}
      <p class="publication-entry__venue"><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</p>
      <div class="publication-entry__actions">
        {% if post.paperurl %}
          <a class="publication-entry__button" href="{{ post.paperurl }}"><i class="fas fa-file-lines" aria-hidden="true"></i><span>Paper</span></a>
        {% endif %}
        {% if post.codeurl %}
          <a class="publication-entry__button" href="{{ post.codeurl }}"><span class="publication-entry__button-code">&lt;/&gt;</span><span>Code</span></a>
        {% endif %}
        {% if post.posterurl %}
          <a class="publication-entry__button" href="{{ post.posterurl }}"><i class="fas fa-image" aria-hidden="true"></i><span>Poster</span></a>
        {% endif %}
      </div>
    </article>
    {% unless forloop.last %}
      <div class="publication-entry__divider" aria-hidden="true"></div>
    {% endunless %}
  {% endfor %}
{% endfor %}
